<h1>ADD NEW ENTRY</h2>

  <p>Fill out the following:</p>

  <form action="/words" method="post">

    <label for="word">Word:</label>
    <input id="word" name="word" type="text">
    <br>
    <label for="word_class">Class: (e.g. noun, verb, adjective, etc.)</label>
    <input id="word_class" name="word_class" type="text">
    <br>
    <label for="plural_form">Plural Form:</label>
    <input id="plural_form" name="plural_form" type="text">
    <br>
    <label for="actual_definition">Definition:</label>
    <input id="actual_definition" name="actual_definition" type="text">
    <br>
    <button type="submit">Add</button>
    
  </form>
