<h1>ADD NEW ENTRY</h2>

<br>
  <form action="/words" method="post">

    <label for="word">Word:</label><br>
    <input id="word" name="word" type="text">
    <br><br>
    <label for="word_class">Class: (e.g. noun, verb, adjective, etc.)</label><br>
    <input id="word_class" name="word_class" type="text">
    <br><br>
    <label for="plural_form">Plural Form:</label><br>
    <input id="plural_form" name="plural_form" type="text">
    <br><br>
    <label for="actual_definition">Definition:</label><br>
    <input id="actual_definition" name="actual_definition" type="text">
    <br><br>
    <button type="submit">Add</button>

  </form>

<br>
<br>
<br>
<a href="/">Cancel</a>
